.App {
  text-align: center;
}
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  cursor: pointer;
}
.wrap {
  display: flex;
  flex-wrap: wrap;
}
.margin {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  cursor: pointer;
}
.img {
  border-radius: 20px;
}
.icon {
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 7px;
  color: black;
  cursor: pointer;
}
.text {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 300px;
}
a {
  text-decoration: none;
}
.meal {
  height: 400px;
  width: 550px;
  border-radius: 30px;
}
.light {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 10px;
}
.int {
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.left {
  text-align: left;
}
.flex {
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
  background-color: lightgoldenrodyellow;
}
.font {
  font-style: oblique;
  font-size: large;
  text-align: left;
}
.obl {
  font-style: oblique;
  cursor: pointer;
}
.fine {
  font-size: larger;
  font-weight: bolder;
}
